<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PAJ Bakery</title>
</head>
<body>
<h1>PAJ Bakery</h1>
    <main>
        <h2>Artisanal Baked Goods, Crafted with Love.</h2>

            <p>Discover the heart of artisanal baking at PAJ, a family-owned bakery nestled in the heart of Prague.

                Steeped in generations of tradition, we craft exquisite baked goods using only the finest, locally sourced ingredients.
                Our commitment to quality and craftsmanship shines through in every bite.

                Experience the difference of pre-ordering your favorite treats.
                Visit our cozy bakery from 10 AM to 5 PM daily to pick up your carefully prepared orders, placed a day in advance.
                Whether you're indulging your personal cravings or elevating your business's offerings, PAJ is your destination for exceptional artisanal baked goods.</p>
    </main>


</body>
</html>