{% extends 'base.html' %}

{% block content %}
<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">PAJ Bakery</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Artisanal Baked Goods, Crafted with Love</p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-8">
        				<br/><br/>
<p align="justify">
Discover the heart of artisanal baking at PAJ, a family-owned bakery nestled in the heart of Prague.
<br/><br/>
Steeped in generations of tradition, we craft exquisite baked goods using only the finest, locally sourced ingredients.
Our commitment to quality and craftsmanship shines through in every bite.
<br/><br/>
Experience the difference of pre-ordering your favorite treats.
Visit our cozy bakery from 10 AM to 5 PM daily to pick up your carefully prepared orders, placed a day in advance.
Whether you're indulging your personal cravings or elevating your business's offerings, PAJ is your destination for exceptional artisanal baked goods.
</p>
<br/><br/>
        			</div>
        		</center>
        	</div>
        </div>

        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
{% endblock %}