{% extends 'base.html' %}
{% block content %}

<div class="container" xmlns="http://www.w3.org/1999/html">
<br/>


<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src=" {{ product_detail.thumbnail.url }} " class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Our {{ product_detail.title }}</h5><br>
        <p class="card-text">{{ product_detail.description }}</p>
        {% if product_detail.allergens.exists %}
            <br><h6 class="card-title">Allergens: </h6>
                {% for allergen in product_detail.allergens.all %}
                  <li class="card-text">{{ product_allergens.name }} ({{product_allergens.allergen_number}})</li>
                {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}