{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ product_detail.thumbnail.url }}" class="img-fluid rounded-start" alt="Product Image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ product_detail.title }}</h5>
                        <p class="card-text">{{ product_detail.description }}</p>
                        <p class="card-text">Price: {{ product_detail.price }} CZK</p>

                        <form method="post" action="{% url 'cart_add' %}">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product_detail.id }}">
                            <label for="quantity">Quantity:</label>
                            <input type="number" id="quantity" name="quantity" value="1" min="1">
                            <button type="submit" class="btn btn-primary">Add to Cart</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}